<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coming.pet_store_coming_be.dao.OrderDAO">
    <insert id="insertOrder" parameterType="com.coming.pet_store_coming_be.dto.OrderDTO">
        INSERT INTO order_table (user_id, payment_key, total_amount, order_date)
        VALUES (#{userId}, #{paymentKey}, #{totalAmount}, NOW())
    </insert>
</mapper>