<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coming.pet_store_coming_be.dao.UserDAO">

  <select id="getUserByEmail" resultType="UserDTO" parameterType="String"> 
    select * from user where email = #{email}
  </select>

  <insert id="insertSignUpUser" parameterType="UserDTO">
    insert into user (user_identifier_id, email, password, name, address, phone_number)
    values (
      #{userIdentifierId},
      #{email},
      #{password},
      #{name},
      #{address},
      #{phoneNumber}
    )
  </insert>

</mapper>