<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coming.pet_store_coming_be.dao.product.ProductDAO">

  <select id="getFindAllProduct" parameterType="String" resultType="ProductInfoDTO">
    select 
      p.store_id as storeId,
      s.name as storeBrandName,
      p.id,
      p.name,
      p.price,
      p.discount_rate as discountRate,
      p.discount_price as discountPrice,
      p.thumbnail_image_path as thumbnailImagePath,
      p.thumbnail_image_name as thumbnailImageName,
      p.thumbnail_image_url as thumbnailImageUrl
    from product p
    join 
      store s on p.store_id = s.id
  </select>

  <select id="getFindNewAllProductService" parameterType="String" resultType="ProductInfoDTO">
    select 
      p.store_id as storeId,
      s.name as storeBrandName,
      p.id,
      p.name,
      p.price,
      p.discount_rate as discountRate,
      p.discount_price as discountPrice,
      p.thumbnail_image_path as thumbnailImagePath,
      p.thumbnail_image_name as thumbnailImageName,
      p.thumbnail_image_url as thumbnailImageUrl
    from product p
    join 
      store s on p.store_id = s.id
    order by p.created_at desc
    limit 10
  </select>

  <select id="getCategoryFindAll" parameterType="String" resultType="ProductInfoDTO">
    select 
      p.store_id as storeId,
      s.name as storeBrandName,
      p.id as productId,
      p.name as productName,
      p.price as productPrice,
      p.discount_rate as productDiscountRate,
      p.discount_price as productDiscountPrice,
      p.thumbnail_image_path as productThumbnailImagePath,
      p.thumbnail_image_name as productThumbnailImageName,
      p.thumbnail_image_url as productThumbnailImageUrl
    from product p
    join 
      store s on p.store_id = s.id
    join 
      sub_category sc on p.sub_category_id = sc.id
    where 
      sc.main_category_id = #{id}
  </select>

  <select id="getCategoryFindNew" parameterType="String" resultType="ProductInfoDTO">
    select 
      p.store_id as storeId,
      s.name as storeBrandName,
      p.id as productId,
      p.name as productName,
      p.price as productPrice,
      p.discount_rate as productDiscountRate,
      p.discount_price as productDiscountPrice,
      p.thumbnail_image_path as productThumbnailImagePath,
      p.thumbnail_image_name as productThumbnailImageName,
      p.thumbnail_image_url as productThumbnailImageUrl
    from product p
    join 
      store s on p.store_id = s.id
    join 
      sub_category sc on p.sub_category_id = sc.id
    where 
      sc.main_category_id = #{id}
    order by p.created_at desc
    limit 10
  </select>

  <select id="getSubCategoryFindAll" parameterType="String" resultType="ProductInfoDTO">
    select 
      p.store_id as storeId,
      s.name as storeBrandName,
      p.id as productId,
      p.name as productName,
      p.price as productPrice,
      p.discount_rate as productDiscountRate,
      p.discount_price as productDiscountPrice,
      p.thumbnail_image_path as productThumbnailImagePath,
      p.thumbnail_image_name as productThumbnailImageName,
      p.thumbnail_image_url as productThumbnailImageUrl
    from product p
    join 
      store s on p.store_id = s.id
    where 
      p.sub_category_id = #{id}
  </select>

  <select id="getSubCategoryFindNew" parameterType="String" resultType="ProductInfoDTO">
    select 
      p.store_id as storeId,
      s.name as storeBrandName,
      p.id as productId,
      p.name as productName,
      p.price as productPrice,
      p.discount_rate as productDiscountRate,
      p.discount_price as productDiscountPrice,
      p.thumbnail_image_path as productThumbnailImagePath,
      p.thumbnail_image_name as productThumbnailImageName,
      p.thumbnail_image_url as productThumbnailImageUrl
    from product p
    join 
      store s on p.store_id = s.id
    where 
      p.sub_category_id = #{id}
    order by p.created_at desc
    limit 10
  </select>

  <select id="searchFindProdcut" parameterType="String" resultType="ProductInfoDTO">
    select 
      p.store_id as storeId,
      s.name as storeBrandName,
      p.id as productId,
      p.name as productName,
      p.price as productPrice,
      p.discount_rate as productDiscountRate,
      p.discount_price as productDiscountPrice,
      p.thumbnail_image_path as productThumbnailImagePath,
      p.thumbnail_image_name as productThumbnailImageName,
      p.thumbnail_image_url as productThumbnailImageUrl
    from product p
    join 
      store s on p.store_id = s.id
    where 
      lower(p.name) like concat(lower(#{search}), '%')
  </select>

  <select id="getProductImage" parameterType="String" resultType="ProductImageDTO">
    select 
      product_image_path as productImagePath, 
      product_image_name as productImageName
      product_image_url as productImageUrl
    from 
      product_image
    where 
      id = #{id}
  </select>

</mapper>