<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coming.pet_store_coming_be.dao.orderList.OrderListDAO">
    <!-- 유저 ID로 모든 주문 항목 조회 -->
    <select id="findAllOrderItemsByUserId" resultType="com.coming.pet_store_coming_be.dto.orderList.OrderListDTO">
        SELECT 
            oi.order_id AS orderId,
            oi.product_id AS productId,
            p.name AS productName,
            p.store_id AS storeId,
            p.price AS price,
            p.discount_price AS discountPrice,
            oi.quantity AS quantity,
            oi.status AS status, <!-- 상품별 상태 추가 -->
            p.thumbnail_image_url AS thumbnailImageUrl
        FROM 
            order_item oi
        JOIN 
            product p ON oi.product_id = p.id
        JOIN 
            order_table ot ON oi.order_id = ot.order_id
        WHERE 
            ot.user_id = #{userId}
        ORDER BY oi.order_id DESC
    </select>

      <!-- 주문 항목 상태 업데이트 쿼리 -->
    <update id="updateOrderItemStatus">
        UPDATE order_item
        SET status = #{status}
        WHERE order_item_id = #{orderItemId}
    </update>
</mapper>