<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coming.pet_store_coming_be.dao.review.ReviewDAO">
    
    <insert id="insertReview" parameterType="com.coming.pet_store_coming_be.dto.review.ReviewDTO">
        INSERT INTO review (id, product_id, user_name, comment, created_at)
        VALUES (#{id}, #{productId}, #{userName}, #{comment}, NOW())
    </insert>

    <delete id="deleteReview" parameterType="string">
        DELETE FROM review WHERE id = #{id}
    </delete>

    <select id="getReviewsByProductId" parameterType="string" resultType="com.coming.pet_store_coming_be.dto.review.ReviewDTO">
        SELECT * FROM review
        WHERE product_id = #{productId}
    </select>
    
</mapper>