<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coming.pet_store_coming_be.dao.canidae.CanidaeDAO">

  <insert id="insertCanidaeInfo" parameterType="CanidaeDTO">
    insert into canidae (id, user_id, name, birth, breed, profile_image_path, profile_image_name, profile_image_url, gender, weight, is_primary)
    values (
      #{id},
      #{userId},
      #{name},
      #{birth},
      #{breed},
      #{profileImagePath},
      #{profileImageName},
      #{profileImageUrl},
      #{gender},
      #{weight},
      #{isPrimary}
    )
  </insert>

  <insert id="insertInterestProduct" parameterType="CanidaeInterestProductDTO">
    insert into canidae_interest_product (id, canidae_id, sub_category_id)
    values (
      #{id},
      #{canidaeId},
      #{subCategoryId}
    )
  </insert>

  <select id="getCandiaeLength" resultType="Integer" parameterType="String" >
    select count(*) from canidae
    where user_id = #{userId}
  </select>

  <!-- 반려견 정보 수정 관련 Mapper -->
  <update id="resetPrimaryStatus" parameterType="String">
    update canidae
    set is_primary = false
    where user_id = #{userId}
  </update>

  <update id="updateCanidae" parameterType="CanidaeDTO" >
    update canidae
    <set>
      <if test="name != null">
        name = #{name},
      </if>

      <if test="birth != null">
        birth = #{birth},
      </if>

      <if test="breed != null">
        breed = #{breed},
      </if>

      <if test="profileImageName != null">
        profile_image_name = #{profileImageName},
      </if>

      <if test="weight != null">
        weight = #{weight},
      </if>

      <if test="isPrimary != null">
        is_primary = #{isPrimary}
      </if>
    </set>
    where id = #{id}
  </update>

  <delete id="deleteCanidaeInterestProduct" parameterType="String">
    delete from canidae_interest_product
    where id = #{id}
  </delete>

  <!-- 반려견 정보 삭제 관련 Mapper -->
  <select id="getCanidaeById" parameterType="String" resultType="CanidaeDTO">
    select *
    from canidae
    where id = #{canidaeId}
  </select>

  <delete id="deleteCanidaeInfo" parameterType="String">
    delete from canidae
    where id = #{canidaeId}
  </delete>

  <select id="getUserIdByCanidaeId" parameterType="String" resultType="String">
    select user_id
    from canidae
    where id = #{canidaeId}
  </select>

  <select id="getRemainingCanidaeByUserId" parameterType="String" resultType="CanidaeDTO">
    select
      id,
      user_id as userId,
      name,
      birth,
      breed,
      gender,
      weight,
      is_primary as isPrimary
    from canidae
    where user_id = #{userId}
    order by created_at asc
  </select>

</mapper>